header {
  display: flex;
  justify-content: right;
}

nav {
  position: fixed;
  left: 0px;
  top:0px;
}

table {
  margin-top: 100px;
}

main {
  width: 80%;
  margin-right:4px;
  margin-left:auto;
}

img {
  height: 100px;
}